* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspace {
  background-color: rgba(24, 24, 37, 1.0);
  border: none;
  box-shadow: none;
}

